# Uygulama Genel Konfigürasyonu
APP_ENV=development
APP_HOST=127.0.0.1
APP_PORT=8000

# Kamera Ayarları (0: Dahili USB Kamera, 1: Harici USB Kamera, veya RTSP IP Kamera URL)
CAMERA_SOURCE=0

# Veri Tabanı Ayarları (İlk aşamada SQLite, ilerleyen aşamada PostgreSQL)
DATABASE_URL=sqlite:///./data/barrier_system.db

# ESP32 Bağlantı Ayarları
ESP32_IP=192.168.1.100
ESP32_PORT=80
